.main>.action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.main>.action>a {
    position: absolute;
    width: 6rem;
    height: 7rem;
    bottom: 1%;
}

.main>.action>a:first-child {
    left: 50%;
    bottom: 1%;
}

.main>.action>a:nth-child(2) {
    right: 15%;
    bottom: 1%;
}





